<h1>{{phone.ipAddress}}</h1>

<p>{{phone.country}}</p>

<ul class="specs">
    <li>
        <span>Details</span>
        <dl>
            <dt>Type</dt>
            <dd>{{phone.dateInserted}}</dd>
            <dt>{{phone.city}}</dt>
            <dd>{{phone.latitude}}</dd>
            <dd>{{phone.longitude}}</dd>
        </dl>
    </li>
    <li>
        <span>Bezoeker</span>
        <dl>
            <dt>Besturingssysteem</dt>
            <dd>{{phone.operatingSystem}}</dd>
            <dt>Browser</dt>
            <dd>{{phone.browser}}</dd>
        </dl>
    </li>
</ul>

<google-map center='map.center' zoom='map.zoom'></google-map>
