<div class="row"></div>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Abonnementen</h1>
    </div>
    <div class="abonnementen-table" />
    <div class="btn-toolbar">
	  <a class="btn" href="/abonnementen/abonnement/nieuw"><i class="icon-plus-sign"></i> Nieuw</a>
	</div>
  </div>
</div>
