<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>{{code}} - {{omschrijving}}</h1>
    </div>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active">
          <a id="abonnementLink" href="#abonnement" data-toggle="tab">Huidig abonnement</a>
        </li>
        <li class="">
          <a id="tariefHistorieLink" href="#tarieven" data-toggle="tab">Tarief historie</a>
        </li>
        <li class="">
          <a id="abonneesLink" href="#abonnees" data-toggle="tab">Abonneees</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="abonnement"></div>
        <div class="tab-pane" id="tarieven"></div>
        <div class="tab-pane" id="abonnees"></div>
      </div>
    </div>
  </div>
</div>
