<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Inloggen</h2>
        <input type="text" class="form-control" placeholder="Gebruikersnaam" required autofocus ng-model="username">
        <input type="password" class="form-control" placeholder="Wachtwoord" required ng-model="password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me">Onthoud mij
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Inloggen</button>
    </form>

</div>
<!-- /container -->
