<form action="/relatie" method="post" class="form-horizontal">
  <legend>Kies betaalwijze</legend>
  <input type="hidden" name="id" value="{{id}}" />
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <select id="betaalwijzeId" name="betaalwijze.id">
      </select>
    </div>
  </div>
  <div class="bank" style="display: none;">
    {{#with bankrekening}}
    <div class="control-group">
      <label class="control-label">Bankrekening</label>
      <div class="controls">
        <input type="text" name="bankrekening.bankrekeningNummer" value="{{bankrekeningNummer}}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Tenaamstelling</label>
      <div class="controls">
        <input type="text" name="bankrekening.tenaamstelling" value="{{tenaamstelling}}" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Geboortedatum</label>
      <div class="controls">
        <input name="bankrekening.geboortedatumTenaamstelling" type="date">
      </div>
    </div>
    {{/with}}
  </div>
  <div class="form-actions">
    <button type="reset" class="btn">Herstel</button>
    <button type="submit" class="btn btn-primary">Bewaren</button>
  </div>
</form>
