.SyncID
.SyncIgnore

voornaaminliedje-backend/logs
voornaaminliedje-backend/project/project
voornaaminliedje-backend/project/target
voornaaminliedje-backend/target/
voornaaminliedje-backend/tmp
voornaaminliedje-backend/.history
voornaaminliedje-backend/dist
voornaaminliedje-backend/.classpath
voornaaminliedje-backend/.project
voornaaminliedje-backend/.settings/
voornaaminliedje-backend/.springBeans
voornaaminliedje-backend/.idea/
voornaaminliedje-backend/voornaaminliedje-backend.iml

voornaaminliedje-frontend/logs
voornaaminliedje-frontend/project/project
voornaaminliedje-frontend/project/target
voornaaminliedje-frontend/target
voornaaminliedje-frontend/tmp
voornaaminliedje-frontend/.history
voornaaminliedje-frontend/dist
voornaaminliedje-frontend/.classpath
voornaaminliedje-frontend/.project
voornaaminliedje-frontend/.settings/
voornaaminliedje-frontend/webapp/index.html~
/voornaaminliedje-frontend/nbproject/
/voornaaminliedje-frontend/voornaaminliedje-frontend.sublime-workspace
/voornaaminliedje-frontend/.tags
/voornaaminliedje-frontend/.tags_sorted_by_file
/voornaaminliedje-backend/voornaaminliedje-backend.sublime-workspace
/dbScripts/dbScripts.sublime-workspace
/voornaaminliedje-admin/voornaaminliedje-admin.sublime-workspace
