quooc-backend/logs
quooc-backend/project/project
quooc-backend/project/target
quooc-backend/target
quooc-backend/tmp
quooc-backend/.history
quooc-backend/dist
quooc-backend/.classpath
quooc-backend/.project
quooc-backend/.settings/

quooc-frontend/logs
quooc-frontend/project/project
quooc-frontend/project/target
quooc-frontend/target
quooc-frontend/tmp
quooc-frontend/.history
quooc-frontend/dist
quooc-frontend/.classpath
quooc-frontend/.project
quooc-frontend/.settings/
quooc-frontend/webapp/index.html~
/quooc-frontend/nbproject/