.SyncID
.SyncIgnore

logs
project/project
project/target
target/
tmp
.history
dist
.classpath
.project
.settings/
.springBeans
.idea/
namesandsongs-backend.iml
bin
database.properties
config.properties
