<h1>Editing...</h1>

<h1>{{song.title}}</h1>

<p>{{song.artist}}</p>

<input type="text" name="title" ng-model="song.title" required>
<input type="text" name="artist" ng-model="song.artist" required>
<input type="text" name="firstname" ng-model="song.firstname" required>
<input type="text" name="youtube" ng-model="song.youtube" required>
<input type="text" name="background" ng-model="song.background" required>
<select ng-model="song.userModified">
    <option value="Remco" selected="selected">Remco</option>
    <option value="Nadja">Nadja</option>
</select>

<button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>

<button ng-click="cancel()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Cancel</button>
