<!--div class="input-group">
    <input type="text" class="form-control" placeholder="titel" ng-model="song.title" required>
    <input type="text" class="form-control" placeholder="artiest" ng-model="song.artist" required>
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="voornaam" ng-model="song.firstname" required>
</div>

<form name="myForm">
    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
        <label>Artiest</label>
        <input type="text" name="artist" ng-model="song.artist" required>
        <span ng-show="myForm.artist.$error.required" class="help-inline">
            Required</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.site.$invalid}">
        <label>Titel</label>
        <input type="text" name="title" ng-model="song.title" required>
        <span ng-show="myForm.title.$error.required" class="help-inline">
            Required</span>
        <span ng-show="myForm.title.$error.url" class="help-inline">
            Not a URL</span>
    </div>

    <label>Achtergrond</label>
    <textarea name="background" ng-model="song.background"></textarea>

    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
    <button ng-click="destroy()" ng-show="project._id" class="btn btn-danger">Delete</button>
</form-->


<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" role="form" name="myForm">
            <div class="form-group">
                <label for="artist" class="col-sm-2 control-label">Artiest</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="artist" id="artist" ng-model="song.artist" required>
                    <span ng-show="myForm.artist.$error.required" class="help-inline">
                        Verplicht</span>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Titel</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" id="title" ng-model="song.title" required>
                    <span ng-show="myForm.title.$error.required" class="help-inline">
                        Verplicht</span>
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">Voornaam</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="firstname" id="firstname" ng-model="song.firstname" required>
                    <span ng-show="myForm.firstname.$error.required" class="help-inline">
                        Verplicht</span>
                </div>
            </div>
            <div class="form-group">
                <label for="youtube" class="col-sm-2 control-label">Youtube id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="youtube" id="youtube" ng-model="song.youtube">
                </div>
            </div>
            <div class="form-group">
                <label for="background" class="col-sm-2 control-label">Achtergrond</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="background" ng-model="song.background"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <a href="#/songs" ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-default">Opslaan</a>
                    <a href="#/songs" class="btn btn-default">Annuleren</a>
                </div>
            </div>
        </form>
    </div>
</div>
