<h1>Editing...</h1>

<h1>{{song.title}}</h1>

<p>{{song.artist}}</p>

<div class="input-group">
    <input type="text" class="form-control" placeholder="titel" ng-model="song.title" required>
    <input type="text" class="form-control" placeholder="artiest" ng-model="song.artist" required>
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="voornaam" ng-model="song.firstname" required>
</div>

<form name="myForm">
    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
        <label>Artiest</label>
        <input type="text" name="artist" ng-model="song.artist" required>
        <span ng-show="myForm.artist.$error.required" class="help-inline">
            Required</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.site.$invalid}">
        <label>Titel</label>
        <input type="text" name="title" ng-model="song.title" required>
        <span ng-show="myForm.title.$error.required" class="help-inline">
            Required</span>
        <span ng-show="myForm.title.$error.url" class="help-inline">
            Not a URL</span>
    </div>

    <label>Achtergrond</label>
    <textarea name="background" ng-model="song.background"></textarea>

    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
    <!--button ng-click="destroy()" ng-show="project._id" class="btn btn-danger">Delete</button-->
</form>
