<h1>{{visit.ipAddress}}</h1>

<p>{{visit.dateInserted | date:'dd-MM-yyyy HH:mm:ss'}}</p>

<ul class="specs">
    <li>
        <span>Geo</span>
        <dl>
            <dt>Locatie</dt>
            <dd>{{visit.city}}</dd>
            <dd>{{visit.country}}</dd>
            <dt>Coördinaten</dt>
            <dd>{{visit.latitude}}</dd>
            <dd>{{visit.longitude}}</dd>
        </dl>
    </li>
    <li>
        <span>Bezoeker</span>
        <dl>
            <dt>Besturingssysteem</dt>
            <dd>{{visit.operatingSystem}}</dd>
            <dt>Browser</dt>
            <dd>{{visit.browser}}</dd>
        </dl>
    </li>
</ul>

<google-map center='map.center' zoom='map.zoom'></google-map>
