<div class="container text-center">
    <div class="row">
        <div class="col-md-3">
            <h3>Spring with PostgresQL</h3>
            <div class="report"></div>
            <div>
                <ul ng-repeat="song in songs" class="list-unstyled">
                    <li>{{song.artist}} - {{song.title}}</li>
                </ul>
            </div>
        </div>
        <!--div class="col-md-3">
            <h3>Spring with Redis</h3>
            <div class="report2"></div>
                <ul ng-repeat="song2 in songs2" class="list-unstyled">
                    <li>{{song2.artist}} - {{song2.title}}</li>
                </ul>
            </div>
        </div-->
        <div class="col-md-3">
            <h3>Nodejs with Redis</h3>
            <div class="report3">
                <ul ng-repeat="song3 in songs3" class="list-unstyled">
                    <li>{{song3.artist}} - {{song3.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>