<!doctype html>
<html lang="en" ng-app="songApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type='text/JavaScript' src="../../resources/js/libs/email.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="../../resources/js/controllers.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../resources/images/favicon.png">
    <title>Voornaam in liedje: Een verzameling van populaire liedjes met voornamen in de titel</title>
    <!-- Bootstrap core CSS -->
    <link href="../../resources/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <link href="../../resources/css/style.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="SongListCtrl">
    <div class="container">
        <div class="header">
            <h3 class="text-muted text-center">Voornaam in liedje</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 inhoudBoven">
                <h4>Bladeren</h4>

                Zoek:
                <input ng-model="query">

                <table class="table table-condensed">
                    <thead class="tableHead">
                        <tr>
                            <th>Artiest</th>
                            <th>Titel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="song in songs | filter:query | orderBy:orderProp">
                            <td>{{song.artist}}</td>
                            <td>{{song.title}}</td>
                        </tr>
                    </tbody>
                </table>

                Sort by:
                <select ng-model="orderProp">
                    <option value="artist">Artiest</option>
                    <option value="-artist">Artiest Z-A</option>
                    <option value="title">Titel</option>
                </select>

                <input autofocus="autofocus" ng-model="zoekOpdracht" placeholder="Zoek op een voornaam..." />
                <button class="btn btn-default btn-xs active" type="submit" ng-click="search($event)">Zoek</button>

                <!--button class="btn btn-default btn-xs active" type="submit" data-bind="click: previous">Vorige</button>
                <button class="btn btn-default btn-xs active" type="submit" data-bind="click: next">Volgende</button-->

            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 inhoudBoven">
                <h4>Lied van de dag</h4>
                <h5><i>{{songOfTheDay.title}}</i> van <i>{{songOfTheDay.artist}}</i>
                </h5>
                <p>
                    {{songOfTheDay.background}}
                </p>
            </div>
        </div>
        <div class="row horizontalDivider"></div>
        <div class="row">
            <div class="col-lg-4 inhoudOnder">
                <h4>Spelregels.</h4>
                <p>Mocht je nog een nummer weten dat niet in de lijst staat, dan horen we dat natuurlijk graag. Nummers uit alle talen zijn welkom. Voorwaarde is dat er een voornaam in de titel van het nummer zit. Het nummer moet op een uitgebrachte singel of album staan, en het moet uit de tekst af te leiden zijn dat het daadwerkelijk een voornaam betreft in het nummer. Je kunt nieuwe nummers melden aan <b><i><script>mail("info", "ovroanmaniildeejn?l", -2, "")</script></i></b>.</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-7 inhoudOnder">
                <h4>Youtube</h4>

                <!--div id="videoDiv">Loading...</div-->
                <div id="player">Loading...</div>

            </div>
        </div>
        <div class="row horizontalDivider"></div>
        <div class="footer text-left">
            <p>&copy; 2013 by Remco Weekers</p>
        </div>
    </div>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type='text/JavaScript' src="../../resources/js/libs/browserDetect.js"></script>
    <script type='text/JavaScript' src="../../resources/js/logVisits.js"></script>
    <script type='text/JavaScript' src="../../resources/js/logSearchInstruction.js"></script>
    <script type='text/JavaScript' src="../../resources/bootstrap3/js/bootstrap.min.js"></script>
    <script type='text/JavaScript' src="../../resources/js/youtube.js"></script>
</body>

</html>
