/* Space out content a bit */
 body {
    /*background-image:url('../../resources/images/vinyl.jpg');*/
    /* background-image:url('../../admin/img/background.jpg'); */
    /* background-color:#cccccc; */
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid #ffffff;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    color:#ffffff;
}
/* Custom page footer */
 .footer {
    padding-top: 19px;
    /* color: #777;*/
    color:#ffffff;
    border-top: 1px solid #ffffff;
}
/* Customize container */
 @media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    .container-narrow > hr {
        margin: 30px 0;
    }
    .inhoudBoven {
        min-height: 680px;
    }
    .inhoudOnder {
        min-height: 340px;
    }
    .horizontalDivider {
        min-height: 19px;
    }
    /* Styles you shouldn't keep as they are for displaying this base example only */
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-12 {
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 19px;
        padding-bottom: 19px;
        border:2px solid;
        border-radius:25px;
        border-color:#ffa500;
        background-color: #3f3f3f;
        color:#ffffff;
        font-size: 13px;
    }
    .tableHead {
        color:#ffa500;
    }
    h4 {
        color:#ffa500;
    }
    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
        /* Remove the padding we set earlier */
        .header, .marketing, .footer {
            padding-left: 0;
            padding-right: 0;
        }
        /* Space out the masthead */
        .header {
            margin-bottom: 30px;
        }
        /* Remove the bottom border on the jumbotron for visual effect */
        .jumbotron {
            border-bottom: 0;
        }
    }
    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 380px;
        height: 320px;
    }
    .ngHeaderText {
        color: black;
    }
    .ngCellText {
        color: black;
    }
