<div class="alert alert-warning text-center" role="alert">{{b}}.</a></div>

<div class="container">

    <!--form class="form-signin"-->
    <form class="navbar-form navbar-center" role="search">
        <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="username">
        <input type="password" class="form-control" placeholder="Password" required ng-model="password">
        <!--button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Log in!</button-->
        <button class="btn btn-primary" type="submit" ng-click="login()">Log in!</button>
    </form>

</div-->
<!-- /container -->