<div class="container" ng-controller="RemarkCtrl">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2><i>Add remark</i>
            </h2>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Details of <i> {{song.artist}} - {{song.title}}</i>
        </h3>
        <table class="table table-striped">
            <tr>
                <td>Artist</td>
                <td>{{song.artist}}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{song.title}}</td>
            </tr>
            <tr>
                <td>Background</td>
                <td>{{song.background}}</td>
            </tr>
            <tr>
                <td>Youtube</td>
                <td>{{song.youtube}}</td>
            </tr>
        </table>
    </div>
    <div ng-if="result" class="alert alert-warning text-center" role="alert">{{result}}.</a></div>
    <form class="form-horizontal" role="form" name="myForm">
        <div class="form-group">
            <label for="artist" class="col-sm-2 control-label">Commentaar</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="artist" id="artist" ng-model="remark.commentary" required>
                <span ng-show="myForm.artist.$error.required" class="help-inline">
                Verplicht</span>
            </div>
        </div>
        <!--div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">Voornaam</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="firstname" id="firstname" ng-model="song.firstname" required>
            <span ng-show="myForm.firstname.$error.required" class="help-inline">
            Verplicht</span>
        </div>
    </div>
    <div class="form-group">
        <label for="youtube" class="col-sm-2 control-label">Youtube id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="youtube" id="youtube" ng-model="song.youtube">
        </div>
    </div>
    <div class="form-group">
        <label for="background" class="col-sm-2 control-label">Achtergrond</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" id="background" ng-model="song.background"></textarea>
        </div>
    </div-->
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <!--a href="#/songs" ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-default">Opslaan</a-->
            <!--button type="button" ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-default">Opslaan</button-->
            <a href="#/song/{{song.id}}" ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Opslaan</a>
            <a href="#/song/{{song.id}}" class="btn btn-primary">Annuleren</a>
        </div>
    </div>
</form>
</div>