<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Welkom bij de abonnementenmodule van Fa-med</h1>
    </div>
   
    	
				 <p>Met deze module willen wij het voor u mogelijk maken om zo eenvoudig mogelijk de status van uw abonnementen bij te houden. De abonnementenmodule bestaat uit 2 voorname componenten, <a href="/abonnementen/relaties">uw relaties</a> en <a href="/abonnementen/abonnementen">uw abonnementen</a>.</p>
				 <p>
				Uw relaties kunt u allemaal importeren in deze abonnementenmodule en ook handmatig toevoegen. Voor een geautomatiseerde import is een exportbestand (.csv) vanuit uw softwarepakket noodzakelijk.</p>
				<p>
				Uw abonnementen dient u handmatig in te voeren, we hebben negen ‘standaard’ abonnementen voorgeprogrammeerd, met uitzondering van de tarieven. Natuurlijk kunt u daarvan afwijken door eigen abonnementen hieraan toe te voegen. Een abonnement heeft een standaard tarief, per klant kan daarvan worden afgeweken door een kortingspercentage in te voeren. Op basis van het soort abonnement wordt ook rekening gehouden met BTW en/of assurantiebelasting.
				 </p>
				 <p>
				Op elke 16e van de maand destilleert Fa-med volledig automatisch vanuit de abonnementenmodule een declaratiebestand om te kunnen factureren, via automatische incasso, en bij uitzondering via een papieren nota. Het is van groot belang dat de gegevens met betrekking tot de abonnementen op de 16e actueel zijn.
				 </p>
				 <p>Als u aanvullende op- of aanmerkingen heeft, kunt u contact opnemen met team Intermediair van de afdeling Klantzaken.</p>
		    <br/><br/>

  </div>
</div>