<div class="btn-toolbar">
  <a class="btn new"><i class="icon-plus-sign"></i> Nieuw</a>
  <a class="btn" href="/dashboard/debiteuren/0/machtigingafdrukken"><i class="icon-list-alt"></i> Genereer blanco machtiging</a>
  <a class="btn importeer"><i class="icon-upload"></i> Importeer relaties</a>
  <a class="btn exporteer"><i class="icon-download"></i> Exporteer relaties</a>
</div>

<div id="importeerRelatieModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="uploadModalLabel">Importeer relaties</h3>
  </div>
  <div class="modal-body">
    <form id="fileupload" action="/api/relaties/upload" method="POST" enctype="multipart/form-data">
      <div class="fileupload-buttonbar">
        <div>
          <span class="btn fileinput-button">
            <i class="icon-file"></i>
            <span>Selecteer het bestand met relaties</span>
            <input type="file" name="csvFile" accept="csv">
          </span>
        </div>

        <div class="span5 fileupload-progress">
          Upload:
          <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="bar" style="width:0%;"></div>
          </div>
          <div class="uploadFileName"></div>
          <div class="row">
            <div class="uploadStatus span3"></div>
            <div class="span1 statusSpinner fade">
              <img src="images\famed\spinner.gif"/>
            </div>
          </div>
        </div>
        <div class="span5 uploadErrors text-error">
        </div>

        <div class="span5 uploadSuccess text-success fade">
          Het bestand is succesvol verwerkt. Het bestand bestond uit <span class="aantalGeimporteerd badge"/> relaties.<br/>
            Er zijn <span class="aantalToegevoegd badge badge-success"/> nieuwe relaties toegevoegd en <span class="aantalBijgewerkt badge badge-info"/> bijgewerkt.
                <br/><br/>

              </div>
              <div>
                <span class="btn closeImporteer pull-right">
                  <span>Terug naar relaties</span>
                </span>
              </div>
            </div>
            <br>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
