<div class="container" ng-controller="RemarkCtrl">
	<div class="row">
		<div class="col-md-12">
			<h3>Edit <i>{{remark.song.artist}} - {{remark.song.title}}</i>
			</h3>
		</div>
	</div>
	<form class="form-horizontal" role="form" name="myForm">
		<div class="form-group">
			<label for="commentary" class="col-sm-2 control-label">Commentary</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="commentary" id="commentary" ng-model="remark.commentary">
			</div>
		</div>
		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">Status</label>
			<div class="col-sm-10">
				<select class="form-control" id="status" ng-model="remark.status">
					<option>New</option>
					<option>In progress</option>
					<option>Finished</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="commentary" class="col-sm-2 control-label">Song</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="artist" id="artist" ng-model="song.artist">
				<input type="text" class="form-control" name="title" id="title" ng-model="song.title">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<a href="#/remarks" ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Opslaan</a>
				<a href="#/remarks" class="btn btn-primary">Annuleren</a>
			</div>
		</div>
	</form>
</div>